*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(/img/background.jpg);
}

a {
  font-weight: 300;
  color: blue;
}

.wrapper {
  display: grid;
  grid-template-areas:
  "header chat"
  "screen chat"
  "video  chat";
  grid-template-rows: 5% 65% 30%;
  grid-template-columns: 80% 20%;
  width: 100vw;
  height: 100vh;
}


.head {
  grid-area: header;
  text-align: center;
  overflow: hidden;
  font-size: 1em;
}

.btn {
  background-color: green;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: darkgreen;
}

.screenShare {
  grid-area: screen;
  align-content: center;
  overflow: auto;
  width: 100%;
  height: 100%;
  border: 3px solid #d84120;
  border-radius: 30px;
}

#screenshareVideo {
  grid-area: screen;
  width: 100% !important;
  height: 100% !important; 
  margin: 0 auto;
  display: block;
  overflow: auto;
}

#webcamDiv {
  grid-area: video;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-auto-columns: 1fr;
  max-width: 100%;
  max-height: auto;  
  /* align-self: stretch; */
}

.videoDiv {
  overflow: hidden;
  border: 3px solid black;
  border-radius: 30px;
}

.container {
  grid-area: chat;
  position: relative;
  height: 100%;
  border: 3px solid #B40707;
  border-radius: 20px;
  overflow: auto;
}
.container ul {
  margin: 0;
  padding: 0;
}
.container ul>li {
  list-style: none;
  padding: 20px;
  border-bottom: 1px solid #000;
  border-radius: 15px;
}
.container ul>li:nth-child(odd) {
  background: #da4453;
  color: white;
}
.messages {
  max-height: 95vh;
  overflow: auto;
  display: grid;
}
.actions {
  position: absolute;
  max-height: 10vh;
  width: 100%;
  bottom: 0;
  background-color: #CCCCCC;
  border-top: 1px solid #9E9E9E;
}
.actions input {
  border: 0;
  margin: 0;
  font-size: 1em;
  padding: 1.5vh 1vw;
  width: 80%;
  float: left;
}

.actions button {
  border: 0;
  margin: 0;
  max-width: 20%;
  text-align: center;
  font-size: 1em;
  padding: 1.5vh 1vw;
  float: left;
  background-color: #2ecc71;
  color: #FFFFFF;
}

.videoInsert {
  position: relative;
  overflow: auto;
  max-width: inherit;
  max-height: inherit;
  /* position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover; */
  object-fit: cover;
  /* overflow: hidden; */
}
